*{
    background-color:rgb(255, 255, 255);
    scrollbar-width: none;
}
.nav{
    position:fixed;
    width: 100%;
    z-index: 1;
}
.nav ul{
    background-color: black;
    gap:5px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style: none;
    
    }
.nav ul a{
    text-decoration: none;
    padding: 5px;
    border:3px solid blue;
    background-color: bisque;
}
section{
    height: 100vh;
}

